name: update
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
    - cron: "10 1 * * *"
    - cron: "20 2 * * *"
    - cron: "30 3 * * *"
    - cron: "40 4 * * *"
    - cron: "50 5 * * *"
    - cron: "0 7 * * *"
    - cron: "10 8 * * *"
    - cron: "20 9 * * *"
    - cron: "30 10 * * *"
    - cron: "40 11 * * *"
    - cron: "50 12 * * *"
    - cron: "0 14 * * *"
    - cron: "10 15 * * *"
    - cron: "20 16 * * *"
    - cron: "30 17 * * *"
    - cron: "40 18 * * *"
    - cron: "50 19 * * *"
    - cron: "0 21 * * *"
    - cron: "10 22 * * *"

concurrency:
  group: update
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write

env:
  GITHUB_API_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
  GH_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
  TOKEN_MANAGER_URL: https://mise-versions.jdx.dev
  TOKEN_MANAGER_SECRET: ${{ secrets.TOKEN_MANAGER_SECRET }}
  DRY_RUN: 0
jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: docker run jdxcode/mise --version
      - run: ./scripts/update.sh "${{ github.event.schedule }}"
      - run: git checkout docs && git clean -df
      - uses: actions/configure-pages@v5
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
