name: update
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "*/30 * * * *"

concurrency:
  group: update
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write

env:
  GITHUB_API_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
  GH_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
  TOKEN_MANAGER_URL: https://mise-versions-worker.jdx.dev
  TOKEN_MANAGER_SECRET: ${{ secrets.TOKEN_MANAGER_SECRET }}
  DRY_RUN: 0
jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: docker run jdxcode/mise --version
      - run: ./scripts/update.sh "${{ github.event.schedule }}"
      - run: git checkout docs && git clean -df
      - uses: actions/configure-pages@v5
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
